@page
@model AssetManagement.Pages.ChangePasswordModel
@{
}
<h1>Change password</h1>
<hr style="border: 1px solid black; width: 100%; margin: 0 auto;">
<div style="color:red">@ViewBag.error</div>
<form method="post">
    <table>
        <tr>
            <td>Old password</td>
        </tr>
        <tr>
            <td><input asp-for="@Model.oldPass" type="password" /></td>
        </tr>
        <tr>
            <td>New password</td>
        </tr>
        <tr>
            <td><input asp-for="@Model.newPass" type="password" /></td>
        </tr>
        <tr>
            <td><button type="submit" style="background:#F26f21;color:white">Save</button></td>
        </tr>
    </table>
</form>